<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JSON Submit Form</title>
    <!-- Link to the external CSS file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>

<h1>This is the Form</h1>

<form id="myForm">
    <label for="message">Message:</label>
    <input type="text" id="message" name="message">
    <input type="submit" value="Submit">
</form>


<div id="response"></div>


<br>

<button onclick="window.location.href='/'">Go Back To Index</button>

<script src="{{ url_for('static', filename='js/form.js') }}"></script>

</body>
</html>
